@charset "utf-8";
/**
 * Developer css
 * @author leon, wanzhu
 * Copyright 2014 ifpay.cn, Inc.
 * @version 2.0 2014-04-04
 */
* {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', Calibri, Helvetica, Arial, Verdana, sans-serif;
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
	font-size: small;
}
body {
	overflow-y: scroll;
	background:#FFF;
}
/***Page Structure***/
#wrap, #wrap-inner, #footer{
	min-width: 950px;
	_width: expression(document.body.clientWidth < 950? "950px": "100%" );
	background: #f4f4f4;
}
#header {	
	height:60px;
	width:100%;		
	overflow:hidden;
	border-bottom: 1px solid #CDCDCD;
	background:#4E6BA9;
}
#main-body {}
#content {
	margin-left: 200px;
	background: #FFFFFF;
}
#content div{
	padding: 10px;
}
#sidebar {
	float:left;
	width: 200px;
}
#sidebar div {
	padding: 20px;
}
#sidebar-r {
	position: fixed;
	right: 0px;
	top:61px;
	width: 150px;
	height: 100%;
	background: #FFFFFF;
}
#footer {
	width: 100%;
	background: #e6e6e6;
	border-top: 1px solid #CCCCCC;
}
.container {
	margin: 0 auto;
	width:  100%;
}
.fL {
	float:left
}
.fR {
	float:right
}
/***button***/
.btnMargin {
	margin-left:15px;
}
.standard-btn {
	background:#4E6BA9;
	border-radius:2px;
	border:1px solid #4E6BA9;
	color:#fff;
	cursor:pointer;
	font-size:110%;
	height:35px;
	line-height:35px;
	min-width:150px;
	text-align:center;
}
.standard-btn:hover {
	background:#6383c6;
}
.greenBtn {
	background-color: #f5735c;
	background-image: -moz-linear-gradient(center top, #f5735c, #e15d46);
	background:-webkit-linear-gradient(top, #f5735c, #e15d46);
	border:1px solid #d24836;
	border-radius:5px;
	color:#fff;
	font-size:110%;
	padding:5px 10px;
	text-align:center;
	text-shadow:1px 1px 1px #666;
}
.loginBtn {
	background:#007aaa url(../img/blueBtn.png) repeat-x;
	border:1px solid #026e98;
	border-radius:2px;
	color:#fff;
	cursor:pointer;
	font-size:110%;
	height:35px;
	line-height:35px;
	margin-top:10px;
	text-align:center;
	text-shadow:1px 1px 1px #009fbc;
	width:100%;
}
.cancelBtn {
	background:#c7c7c7 url(../img/grayBtn.png) repeat-x;
	border:1px solid #ccc;
	border-radius:2px;
	color:#595959;
	cursor:pointer;
	font-size:110%;
	height:35px;
	line-height:35px;
	text-align:center;
	text-shadow:1px 1px 1px #fff;
	width:100%;
	display:block;
}
.blueBtn {
	background-color: #89b600;
	border:1px solid #89b600;
	border-radius:2px;
	color:#fff;
	cursor:pointer;
	padding:5px 15px;
	font-weight:bold;
	text-align:center;
}
.blueBtn:hover {
	background-color: #96c605;
}
.grayBtn {
	background-color: #e7e7e7;
	border:1px solid #b9b8b6;
	border-radius:2px;
	color:#666;
	cursor:pointer;
	padding:3px 5px;
	text-align:center;
	margin:0 10px;
	text-shadow:1px 1px 1px #fff;
}
.submit-btn {
	background:#4E6BA9;
	border:none;
	border-radius:3px;
	color:#fff;
	cursor:pointer;
	font-size:110%;
	height:33px;
	line-height:33px;
	padding:0 20px;
}
.submit-btn:hover {
	background:#5a7cc4;
}
.newBtnFont {
	color:#a65002;
	font-size:110%;
	outline:none;
	text-align:center;
	text-shadow:1px 1px 1px #fff;
}
a.applyBtn {
	background:#89b600;
	color:#fff;
	border:1px solid #69b600;
	border-radius:2px;
	font-size:100%;
	padding-left:3px;
	display:block;
	text-align:center;
	padding:3px 5px;
	text-shadow:1px 1px 1px #69b600;
}
a.logoutBtn {
	font-weight: bold;
	background:#89b600;
	color:#fff;
	border:1px solid #69b600;
	font-size:110%;
	display:block;
	text-align:center;
	padding: 0 20px;
	text-shadow:1px 1px 1px #69b600;
}
.iap-saveBtn {
	border: 0px;
	background-color: #FFFFFF;
	margin-right: 10px;
	color: #398AE7
}
.iap-cancelBtn {
	border: 0px;
	background-color: #fff;
	margin-right: 10px;
	color: #398AE7
}

/***Themes***/
.logo{
	margin-left: 200px;
}
#header .container .config {
	line-height:60px; 
	padding-top: 2px;
	text-align:center; 
	background-image:url('/static/theme/simple/img/config.png'); 
	background-position:5px 25px;  
	background-repeat:no-repeat;
}
#header .container .config a {
	font-weight:bold;
	color:#fff;
	margin: 0 20px;
}
a.menuItem {
	color:#5d5a55;
	border-bottom:0px solid #aaa;
	display:block;
	font-size:110%;
	padding:10px 30px 10px 10px;
	text-align:right;
}
a.menuItem:hover {
	background:#dfdfdf;
}
a.menuSelect {
	background:#dfdfdf;
	color:#373737;
	text-shadow:1px 1px 1px #fff;
}
.categoryTitle {
	background:#b26436;
	color:#000000;
	font-size:110%;
	padding:10px;
	text-align:center;
	text-shadow:1px 1px 1px #666;
}
/***navTab***/
.navTab {
	margin-top:0px;
}
.navTab a {
	color:#eee;
	font-size:110%;
	display:inline-block;
	border-radius:3px;
	color:#eee;
	padding:5px 20px;
}
.navTab a:hover {
	background:#0db8d6;
	border-radius:3px;
	color:#eee;
	padding:5px 20px;
}
.navTab a.selected {
	background:#0db8d6;
	border-radius:3px;
	color:#eee;
	padding:5px 20px;
}
/*module style*/
.contentArea {
	padding:20px;
}
.themeToptic {
	background:#9d9ea0;
	border-bottom:1px solid #6d6e71;
	height:37px;
}
.themeToptic > span {
	color:#fff;
	font-size:110%;
	float:left;
	font-weight:bold;
	line-height:37px;
	padding-left:10px;
}
.toolBar {
	background:#f6f6f6;
	border-bottom:1px solid #ccc;
	height:38px;
	width:100%;
	line-height:38px;
}


.sortList {
	border:1px solid #ddd;
	margin-bottom:15px;
}
.sortTheme {
	background:#f7f7f7;
	border-bottom:1px solid #ddd;
	overflow:hidden;
	padding:10px;
	margin-bottom:10px;
}
.sortName {
	color:#000;
	font-weight:bold;
}
.sortNum {
	color:#999;
	padding-left:5px;
}
.sortStatus {
	color:#568dcc;
	padding-left:20px;
}
.sortRight a {
	color:#568dcc;
	display:inline-block;
	padding-right:5px;
}
.sortItem {
}
.arrowSort {
	color:#000;
	font-size:110%;
}
/*common*/
#header strong {
	color:#fff;
	float:left;
	line-height: 60px;
	font-size:110%;
	padding: 0 20px;
	margin-left:5px;
	background:#6383C6;
}
.adminAccount a {
	color:#ccd0d3;
	float:right;
	font-weight:normal;
	padding-top:7px;
	padding-right:10px;
}
.fL {
	float:left
}
.fR {
	float:right;
}
/*forum*/
.formItem {
	border-bottom:1px dashed #ddd;
	margin:10px 0;
	overflow:hidden;
	padding-bottom:10px;
	width:100%;
}
.formItem label {
	float: left;
	padding-bottom: 5px;
	padding-right: 10px;
	text-align: right;
	width:100px;
}
.formInput {
	border: 1px solid #ccc;
	border-radius:1px;
	color: #666666;
	height:25px;
	line-height:25px;
	margin: 0 auto;
	padding-left: 5px;
	width:450px;
}
.gameDetail {
	width:450px;
	height:100px;
}
/*game list*/
.gameItem {
	overflow:hidden;
}
.gameItem li {
	border-bottom:1px dotted #ccc;
	display:block;
	padding:0 10px;
	overflow:hidden;
	padding-bottom:10px;
}
.sortCheckbox {
}
.sortCheckbox input {
	float:left;
	margin-top:6px;
	margin-right:5px;
}
/*login*/
.loginDiv {
	background:#fff;
	border-radius:2px;
	margin:100px auto 0;
	border:1px solid #eee;
	overflow:hidden;
	padding:0px;
	width:290px;
	box-shadow:0 0 8px #bbb;
	padding:20px 0;
}
.loginTopic {
	background:#fff;
	color:#00929c;
	font-size:150%;
	font-weight:bold;
	height:20px;
	padding:0;
	text-align:center;
}
.adminWords {
	background:#62768a;
	color:#eee;
	font-size:130%;
	font-weight:normal;
	height:40px;
	line-height:40px;
	padding:0;
	text-align:center;
	text-shadow:1px 1px 1px #333;
}
.adminIndexLogin {
	margin:0 20px 20px;
}
.loginItem {
	margin-top:15px;
}
.loginItem label {
	color:#666;
	font-size:110%;
	float:left;
	padding-bottom:5px;
}
.loginItem a {
	font-size:110%;
}
.loginInput {
	border:1px solid #ddd;
	border-radius:2px;
	color:#666;
	font-size:110%;
	height:35px;
	line-height:35px;
	width:100%;
	padding-left: 5px;
}

.loginBuutonBg:hover {
	background-color: #ccc;
	background-image: -moz-linear-gradient(center top, #ccc, #eee);
	background:-webkit-linear-gradient(top, #ccc, #eee);
}

.submitDiv {
	margin:10px 20px;
}
.handleToolbar {
	background:#f6f6f6;
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;		
	overflow:hidden;
}
.date-div{
	padding-left:10px;
}
/* service info*/
.serviceInfo {
	
}
.serviceInfo h1 {
	border-bottom:1px solid #ddd;
	color:#7f7f7f;
	font-size:125%;
	margin-top:10px;
	padding-bottom:5px;
	padding-left:10px;
}
.serviceInfo dl dd {
	color:#666;
	font-size:100%;
	padding: 10px 0 10px 40px;
}
.serviceInfo dl dd strong {
	color:#666;
	font-size:100%;
	font-weight:normal;
}
/* global info*/
.globalInfo {
	
}
.globalInfo h1 {
	border-bottom:1px solid #ededed;
	color:#7f7f7f;
	font-size:150%;
	padding-bottom:10px;
	padding-left:20px;
}
.globalInfo dl {
	border-bottom:1px solid #ddd;
	overflow: hidden;
	padding:5px 0;
}
.globalInfo dl dt {
	color:#666;
	font-size:100%;
	float:left;
	padding:10px;
	text-align:right;
	width:100px;
}
.globalInfo dl dd {
	color:#666;
	font-size:100%;
	float:left;
	padding:6px;
}
.filterTextarea {
	color:#999;
	font-size:100%;
	padding:10px;
	width:500px;
	min-height:100px;
}
/*content table*/
.contentTable {
	border:1px solid #ddd;
	border-collapse:collapse;
	width:100%;
}
.contentTable tr th {
	border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
	color:#000;
	font-weight:normal;
	font-size:100%;
	padding:5px;
	text-align:left;
}
.contentTable tr td {
	border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
	color:#999;
	font-size:100%;
	padding:5px;
}
.adminUploadImg img {
	display:inline-block;
	height:40px;
	margin:0 5px;
	width:40px;
}
.adminOverImg img {
	display:inline-block;
	height:32px;
	margin:0 5px;
	width:32px;
}
.gameIntroduction {
	border:1px solid #ccc;
	color:#666;
	font-size:100%;
	height:100px;
	padding:5px;
	width:450px;
}
/* edit content */
.adminRecommend {
	color:#269ed5;
	display:inline-block;
	padding:0 5px;
}
.adminPassed {
	color:#269ed5;
	display:inline-block;
	padding-right:5px;
}
.adminRefused {
	color:#269ed5;
	display:inline-block;
	padding-right:5px;
}
.handleLeft > a {
	color:#666;
	font-size:100%;
}
.handleLeft {
	font-size: 100%;
}
.totalNumber {
	color:#000;
	font-size:100%;
	padding-right:5px;
}
/*html editor*/
.ke-container {
	border:1px solid #ddd;
	margin-left:110px;
}
/*page*/
.pagination {
	overflow:hidden;
}
.pagination span, .pagination span {
	font-size: 100%;
}
.pageBg {
	background:url(../img/pageBg.png) repeat-x;
	color:#707070;
	display:inline-block;
	font-size: 100%;
	height:16px;
	line-height:16px;
	text-align:center;
	text-shadow:1px 1px 1px #fff;
	margin-top:7px;
}
.pageBgCur {
	background:#85c254 url(../img/pageBgCur1.png) repeat-x;
	color:#fff;
	display:inline-block;
	padding:0 5px;
	height:16px;
	line-height:16px;
	text-align:center;
	text-shadow:1px 1px 1px #666;
}
.falsePageBg {
	color:#707070;
	display:inline-block;
	height:16px;
	line-height:16px;
	text-align:center;
	text-shadow:1px 1px 1px #fff;
}

.noInfo {
	color:#000;
	font-size:16px;
	padding:20px 0;
	text-align:center;
}
.noTips {
	background:url(../img/noTips.png) no-repeat;
	height:128px;
	margin:0 auto;
	width:128px;
}
.partingLine {
	background:#ccc;
	height:2px;
	overflow:hidden;
}
.numberPage {
	padding:0 5px;
}
.icon_firstPage {
	background:url(../img/icon_firstPage.png) no-repeat;
	display:inline-block;
	height:16px;
	text-indent:-99999px;
	width:16px;
}
.icon_prevPage {
	background:url(../img/icon_prevPage.png) no-repeat;
	display:inline-block;
	height:16px;
	text-indent:-99999px;
	width:16px;
}
.icon_nextPage {
	background:url(../img/icon_nextPage.png) no-repeat;
	display:inline-block;
	height:16px;
	text-indent:-99999px;
	width:16px;
}
.icon_lastPage {
	background:url(../img/icon_lastPage.png) no-repeat;
	display:inline-block;
	height:16px;
	text-indent:-99999px;
	width:16px;
}
/*easyui*/
.panel-header, .panel-body {
	border-color: #ddd;
}
.combo {
	border:1px solid #ccc;
}
.combo-arrow {
	background:#fff;
}
.datebox .combo-arrow {
	background-image: url(../img/icon-calendar.png);
	background-position: center center;
	background-repeat:no-repeat
}
.datebox-button {
	background:#fff;
}
.datebox-button a {
	color:#999;
	font-size:100%;
}
.calendar-selected {
	background:#e9a11b;
	border:0px solid #dd9818;
	color:#fff;
	border-radius:50%;
}
.calendar-header {
	background:#fff;
	height:30px;
	line-height:30px;
}
.calendar-body th {
	background:#fff;
}
.calendar-saturday {
	color: #da9514;
}
.calendar-prevmonth {
	left: 20px;
	background: url('../img/calendar_arrows.png') no-repeat -18px -2px;
}
.calendar-nextmonth {
	right: 20px;
	background: url('../img/calendar_arrows.png') no-repeat -34px -2px;
}
.calendar-prevyear {
	left: 3px;
	background: url('../img/calendar_arrows.png') no-repeat -1px -2px;
}
.calendar-nextyear {
	right: 3px;
	background: url('../img/calendar_arrows.png') no-repeat -49px -2px;
}
/*workflow*/
.workflow-box {
	background:#fff;
	border:1px solid #ddd;
	border-radius:2px;
	margin:20px auto;
	padding:40px;
	width:600px;
}
.workflow-progress {
	overflow: hidden;
	width:530px;
	margin:0 auto;
}
.workflow-progress li {
	float: left;
	margin: 0 .5em 0 1em;
	list-style:none;
}
.workflow-progress a {
	background: #ddd;
	padding: .7em 1em;
	float: left;
	text-decoration: none;
	color: #444;
	font-size:100%;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	position: relative;
}
.workflow-progress a:hover {
	background: #99db76;
}
	/*.current-progress{background: #99db76 !important;}*/
	.workflow-progress a::before {
 content: "";
 position: absolute;
 top: 50%;
 margin-top: -1.5em;
 border-width: 1.5em 0 1.5em 1em;
 border-style: solid;
 border-color: #ddd #ddd #ddd transparent;
 left: -1em;
}
 .workflow-progress a:hover::before {
 border-color: #99db76 #99db76 #99db76 transparent;
}
 .workflow-progress a::after {
 content: "";
 position: absolute;
 top: 50%;
 margin-top: -1.5em;
 border-top: 1.5em solid transparent;
 border-bottom: 1.5em solid transparent;
 border-left: 1em solid #ddd;
 right: -1em;
}
 .workflow-progress a:hover::after {
 border-left-color: #99db76;
}
.workflow-progress .current, .workflow-progress .current:hover {
	background: #99db76;
}
 .workflow-progress .current::before {
 content: "";
 position: absolute;
 top: 50%;
 margin-top: -1.5em;
 border-width: 1.5em 0 1.5em 1em;
 border-style: solid;
 border-color: #99db76 #99db76 #99db76 transparent;
 left: -1em;
}
	/*.workflow-progress .current::after,
	.workflow-progress .current::before{
	  content: normal;
	  
	}*/
	.workflow-progress .current::after {
 content: "";
 position: absolute;
 top: 50%;
 margin-top: -1.5em;
 border-top: 1.5em solid transparent;
 border-bottom: 1.5em solid transparent;
 border-left: 1em solid #99db76;
 right: -1em;
}
.filed-form {
	margin:40px auto 0;
	width:530px;
}
.filed-form label {
	color:#666;
	font-size:110%;
	float:left;
	padding-top:2px;
	padding-right:10px;
	text-align:right;
	width:80px;
}
.data-filed {
	margin-bottom:15px;
}
.data-input {
	background:#fff;
	border:1px solid #ddd;
	border-radius:2px;
	height:33px;
	line-height:33px;
	width:400px;
	padding-left:5px;
}

.form-checkmail {
}
.form-checkmail dt {
	color:#000;
	font-size:125%;
}
.form-checkmail dl dd {
	color:#999;
	font-size:13px;
	line-height:25px;
}
.welcome-font {
	color:#666;
	font-size:110%;
	margin:20px 0;
}
.info-tip {
	color:#666;
	line-height:25px;
}
.info-tip-list {
	color:#999;
	line-height:25px;
	margin-top:10px;
}
.tab-topic {
	border-top:1px solid #ccc;
	padding-top:20px;
	margin-top:20px;
	padding-left:50px;
	overflow:hidden;
	width:100%;
}
.tab-topic label {
	float:left;
}
.operation-type {
}
.operation-type li {
	color:#666;
	cursor:pointer;
	font-size:110%;
	float:left;
	height:30px;
	line-height:30px;
	min-width:100px;
	border:1px solid #ccc;
	text-align:center;
}
.tab-current {
	background:#99db77;
}
.field-div {
	margin-top:25px;
	overflow:hidden;
	width:100%;
}
.info-name {
	float:left;
	padding-right:5px;
	margin-top:5px;
	text-align:right;
	width:130px !important;
	vertical-align:middle;
}
.info-input {
	float:left;
	border:1px solid #ddd;
	border-radius:2px;
	height:30px;
	line-height:30px;
	width:350px;
	padding-left: 10px;
}
.business-license {
	width:350px;
	float:left
}
.business-license span {
	color:#999;
	font-size:110%;
	float:left;
	line-height:20px;
}
.business-license span img {
	height:90px;
	width:90px;
}


.margin-left {
	margin-left:130px;
}
.hide {
	display:none;
}
/*IAP*/
.iap-topic {
	background:#fff;
	border:none;
	color:#888;
	font-size:110%;
	padding:5px 10px;
	margin-top:20px;
}
.iap-label {
	float:left;
	color:#888;
	font-size:13px;
	text-align:right;
	width:100px;
}
.iap-input {
	color:#666;
	border:1px solid #ddd;
	min-width:400px;
	height:25px;
	line-height:25px;
}
.iap-textarea {
	color:#666;
	border:1px solid #ddd;
	min-width:400px;
	min-height:120px;
	line-height:25px;
}
.iapTable {
	border-collapse:collapse;
	width:100%;
}
.iapTable td {
	color:#666;
	font-size:100%;
	padding:15px 8px;
}
.iap-tips {
	color:#999;
	padding-left:5px;
	vertical-align:top
}
.required {
	color:#f00;
}
.alert-orange {
	border:1px solid #f9dfa8;
	background:#fff8d8;
	color:#ff6600;
	border-radius:5px;
	margin:10px 0;
	line-height:35px;
	clear:both;
	overflow:hidden;
}
.alert-orange p {
	float:left;
	font-size:110%;
	color:#333333;
	padding-left:10px;
	margin:0;
}
.alert-orange p span {
	color:#ff6600;
	font-style:normal;
	font-size:110%;
}
.iap-caption {
	background:#eee;
	border:1px solid #ccc;
	border-collapse:collapse;
	width:100%;
	margin-left:10px;
}
.iap-caption td {
	color:#666;
	font-size:100%;
	padding:5px;
	text-shadow:1px 1px 1px #fff;
}
.iap-caption td select {
	color:#666;
	font-size:100%;
}


.app-row{
	margin:15px 0;
	width:100%;
}
.app-info{
	color:#999;
	font-size:100%;
	padding-left:20px;
}
#footer .container p{
	color: #666;
	font-size: 90%;
	padding: 10px;
}
/***Footer Always correct***/
html, body, #wrap {
	height: 100%;
}
body > #wrap {
	height: auto; 
	min-height: 99.8666666%;
}
#wrap-inner {
	padding-bottom: 40px;
}
#footer {
	position: relative;
	margin-top: -40px;
	height: 40px;
	clear:both;
}
/***Clear Hack****/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */